[submodule "nixos-infect"]
	path = misc/nixos-infect
	url = git@git.cherrykitten.dev:sammy/nixos-infect
	branch = sammy
[submodule "secrets"]
	path = secrets
	url = git@git.cherrykitten.dev:sammy/secret-store
